html {
	background-color: rgb(255, 255, 255);
}
body {
	text-align: center;
	font-family: "Apple Chancery", cursive;
	text-align: center;
	color: black;
}
img {
	height: 500px;
	width: 600px;
}
h1 {
	text-align: center;
	font-family: "Apple Chancery", cursive;
	font-size: 4em;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
}
h2 {
	text-align: center;
	font-family: "Apple Chancery", cursive;
	font-size: 3em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
h3 {
	text-align: center;
	font-family: "Apple Chancery", cursive;
	font-size: 2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}
p {
	text-align: center;
	font-family: "Apple Chancery", cursive;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 1.5em;
}
ul li {
	font-family: "Apple Chancery", cursive;
	text-align: center;
	list-style-type: none;
	padding: 0;
        overflow: hidden;
}
#header ul {
    	list-style-type: none;
   	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: #333;
    	text-align: center;

}
#header li {
	display: inline-block;
}
#header li a {
	display: inline-block;
    	color: rgb(255, 255, 255);
    	text-align: center;
    	padding: 1em;
    	text-decoration: none;
}
#header li a:hover {
    	background-color: #d87878;
}
.active {
	background-color: #d87878;
	color:gray;
}
#map {
    margin: 0 auto;
    height: 600px;
    width: 100%;
}

.center {
    text-align: center;
}

.googleMapsInfo {
    color: black;
    width: 320px;
}

.googleMapsInfo h1 {
    margin: 0.5em;
    margin-left: 0;
}
#main {
	width: 800px;
	height: auto;
	margin: 10px auto;
	padding: 10px;
	position: relative; 
}
#ca_content{
	background-color: rgb(175, 255, 255);
	margin: 0 auto;
	width: 95%;
	padding-left: 2.5%;
	padding-right: 2.5%;
  }
  
  .slider{
	background-color: black;
  }
  
  .slider img {
	margin: 0 auto;
	max-width: 100%;
	overflow:hidden;
	vertical-align: middle;
  }
  
  .bx-wrapper {
	-moz-box-shadow: 0 0 5px rgb(0, 0, 0);
	-webkit-box-shadow: 0 0 5px rgb(0, 0, 0);
	box-shadow: 0 0 5px #ccc;
	border: 5px solid rgb(0, 0, 0);
	background: rgb(0, 0, 0);
  }
  
  iframe{
	width: 75%;
  }
  
  #canada{
	background-color: lightcyan;
	color:black;
	text-align: center;
  }
  
  h1{
	font-size: 100px;
	padding: 20px 20px 20px 20px;
	}
  
  #canada h2{
	text-decoration: underline;
	font-weight: bold;
  }
  
  .title{
	padding: 10px 10px 10px 10px;
  }
  
  @media screen and (min-width: 500px){
	#ca_content{
	  width: 90%;
	  margin: 0% auto;
	  text-align: center;
	  padding-left: 5%;
	  padding-right: 5%;
	  
	}
	#ca_content p{
	  padding-bottom: 5%;
	  font-size: 20px;
	}
  
	#ca_content h2{
	  padding-bottom: 5%;
	  font-size: 25px;
	}
  
  }
  
  @media screen and (min-width: 750px){
	iframe{
	  width: 75%;
	}
  
	#ca_content{
	  width: 75%;
	  box-shadow: 10px 10px rgb(87, 87, 87);
	  margin-top: 5%;
	  border: 3px solid black;
	  margin: 1% auto;
	  text-align: center;
	}
  
	#ca_content p{
	  padding-bottom: 2.5%;
	  font-size: 17px;
	}
  
	#ca_content h2{
	  padding-bottom: 2.5%;
	  font-size: 20px;
	}
  }
  
  @media screen and (min-width: 1305px) {
	iframe{
	  width:100%;
	}
	#ca_content{
	  width: 45%;
	}
  }